:root {
    /* FOR BRIGHT MODE */
    --bg-color: #ffffff;
    --nav-text-color: #111;
    --nav-text-family: Calibri;
    --brand-color-1: #F2AE26;
    --brand-color-2: #1FA499;

}

body.dark {
     /* FOR DARK MODE */
    --bg-color: #111111;
    --nav-text-color: #fff;
    --brand-color-2: #F2AE26;
    --brand-color-1: #1FA499;
    transition: 0.5s;
}


* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--bg-color);
    display: flex;
    justify-content: center;
    transition: 0.5s;

}

.page {
    min-width: 1200px;
    /* background: #aaa; */
}

header {
    /* background: red; */
    display: flex;
    justify-content: left;
    margin-top: 50px;
}


header nav {
    /* background: yellow; */
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header nav ul {
    /* background: yellow; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav ul li {
    /* background: green; */
    list-style-type: none;
    margin-right: 44px;
}

header nav ul.right-side li {
    margin: 0px 10px 0px;
}

header nav ul li a {
    text-decoration: none;
    font-family: var(--nav-text-family);
    font-size: 22px;
    font-weight: 500;
    color: var(--nav-text-color);
}

header nav ul li a span{
    color: var(--brand-color-2);
}

#brand {
    font-size: 32px;
    font-weight: 700;
    color: var(--brand-color-1);
    margin-right: 68px;
}

.toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 44px;
    height: 19px;
    background-color: var(--brand-color-2);
    border-radius: 10px;
    cursor: pointer;
}

.toggle::before {
    content: "";
    position: absolute;
    left: 0;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    transform: scale(0.8);
    background-color: var(--bg-color);
    transition: 0.5s;
}

body.dark .toggle::before {
    left: 25px;
}

.toggle i {
    margin: 3px 3px 0px;
    color: var(--bg-color);
}

header nav ul li.quiz {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 115px;
    min-height: 43px;
    border-radius: 42px;
    font-size: 22px;
    background: var(--brand-color-1);
    box-shadow: 0 0px 100px 15px var(--brand-color-1);
}
